<div>
  <mat-toolbar color="accent">

    <button mat-icon-button class="example-icon favorite-icon" routerLink="/"
      aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" routerLink="/about"
      aria-label="Example icon-button with heart icon">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" routerLink="/contact"
      aria-label="Example icon-button with heart icon">
      <mat-icon>contact_mail</mat-icon>
    </button>
  </mat-toolbar>
</div>